@page "/"

<PageTitle>Dashboard Monitoring</PageTitle>

<h1>Dashboard</h1>

<div class="container">
    <div class="row mb-2">
        <HostCharts></HostCharts>
    </div>
    <div class="row">
        <PingResultsGrid></PingResultsGrid>
    </div>
</div>
